h1{
  color: #000000;
  font-style: italic;
  font-size: 72px;
}
h2{
  color: #10A304;
}
body{
  background-color: #EE09EE;
}
.important{
font-style: italic;
color: #000000
}
.color{
font-style: normal;
  font-weight: bolder;
}
.Header{
font-style: italic;
  font-size: 48px;
}
.Education{
font-style: normal;
}
.my-pet{
font-style: normal;
}
.programming{
font-style: italic;
}
.job{
font-style: normal;
}
.training{
  font-style: italic;
  background-color: #CACF1C;
  font-weight: bolder;
}
link{
  font-weight: bold;
  font-size: 36px;
}
ol{
  font-style: italic;
  font-weight: 900;
}
